.Carousel{
    display:flex;
    align-items: flex-end;
    margin-top: 10px;
    width:70%;
    
}

.Carousel >div {
    margin: 10px;
}
.Container{
    width:100%;
}
.Container :first-child{
    margin-left: auto;
}
.Container {
    margin-right: auto;
}
