.Box{
    width:100%;
    margin-top:20px;
    cursor:pointer;
    
    
}
.Box:hover{
background:rgb(109,219,155) !important;
}

.Box div{
    text-align: start;
    margin-left:10px;
    
}
.Box ul{
    list-style: none;
}

