.Body{
    position: absolute;
    display: flex;
    flex-flow: column;
    
    align-items: center;
    justify-content:center;
    overflow-x: hidden;
    
    width:100vw;
    height: 100vh;
    background: url('../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.Body{
    transition:1s
}
.Content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    max-width: 800px;
}
.Text{
    width:50%;
    color:white;
}
.Form{
    width:50%;
    flex-flow: column;
    display: flex;
    color:white;
    
}
.Form p{
    margin-top:3px;
}

.Form form{
    color:black;
    padding: 10px;
    background: rgb(227,253,253,0.5);
    border:#a6e3e9;
    display: flex;
    flex-flow: column;
    
    
}
.Form form label{
    float:left;
}
.Link{
    text-decoration:underline;
    color:#ea7070;
    cursor:pointer;
}
.SomeDiv{
    display: flex;
}
.SomeDiv hr{
    border-top: 3px solid white;
    width:40%;
}
.checkBox {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.checkBox input{
    all:unset;
    position:relative;
    height:25px;
    cursor:pointer;
    transform: translateX(-50px);
}

.checkBox input:after{
    
    background:#fff;
    content:"";
    position:absolute;
    top:4px;
    left:3px;
    width:22px;
    height:22px;
    transition:0.4s;
    border-radius:50%;}
.checkBox input:before{
    content:'';
    background:#aeb3cb;
    top:0;
    left:0;
    width:50px;
    height:30px;
    border-radius:50px;
    position:absolute;
}
.checkBox input:checked:before{
        background:rgba(184, 247, 247, 0.5);
        border:1px solid #007BFF;
        }
.checkBox input:checked:after{
        left:24px;
        background-color:#ea7070;
        
}


@media (max-width:500px){
    .Content{
        flex-flow:column;
    }
    .Form{
        width:80%
    }
}