.Body{

    overflow-x: hidden;
    
    width:100vw;
    height: 100vh;
    background: url('../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.Header{
    padding-top: 10px;
    display: flex;
    align-items: center;
    margin:auto;
    width:90%;
    justify-content: space-between;

}
.HeaderBtn{
    display: flex;
    align-items: baseline;
    
}
.HeaderBtn p{
    color:#fff;
    font-family: lato thin;
    font-size:1.5rem;
    margin-right: 10px;


}
.HeaderBtn button{
    border:#fff dashed 2px;
    font-family: zilap;
    font-size: 1.3rem;
    background: transparent;
    margin-right: 10px;
    width: 100px;
    color:#fff;
    transition:0.3s;
}
.HeaderBtn button:hover{
background-color: #FFF;
color:rgba(0,0,0,1);

}
.Content{
    margin:auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 90%;
}
.Text{
    font-family: zilap;
    width:450px;
    color:white;
    align-self: flex-start;
}
.Text h1{
    font-size:4rem;
}
.Form{
    width:60%;
    flex-flow: column;
    display: flex;
    color:white;
    align-content: center;

    
}
.Form p{
    margin-top:3px;
}

.Forms{
    width:50%;
    margin:0 auto;
    color:black;
    padding: 30px 15px 15px 15px ;
    background: rgb(0,0,0,0.5);
    border:dashed 2px #fff;
    color:#fff;
    display: flex;
    flex-flow: column;
    border-radius: 40px;
    text-align:center;
    max-width: 400px;
    



}
.Forms input{
    all:unset;
    height: 40px;
    border:#333 1px solid;
    border-radius: 10px;
    background-color: #fff;
    text-align: start;
    padding-left:10px;
}
.Forms button{
    background: #0068AF;
    height: 40px;
    margin-top: 50px;
    border-radius: 10px;
    border: rgb(5, 118, 194) 1px solid;
    color:#fff;
    text-transform: uppercase;
    margin-bottom:10px;
    transition: 0.3s;
}
.Forms button:hover{
    background: rgb(5, 118, 194) ;
}
.FormGroup{
    text-align: start;
    margin-top:25px;
    display:flex;
    flex-flow:column;
    
}

.Form form label{
    float:left;
}
.Link{
    text-decoration:underline;
    color:#00FD30;
    cursor:pointer;
    text-transform: uppercase;
    
}

.checkBox {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.checkBox input{
    all:unset;
    position:relative;
    height:25px;
    cursor:pointer;
    transform: translateX(-50px);
}

.checkBox input:after{
    
    background:#fff;
    content:"";
    position:absolute;
    top:4px;
    left:3px;
    width:22px;
    height:22px;
    transition:0.4s;
    border-radius:50%;}
.checkBox input:before{
    content:'';
    background:#aeb3cb;
    top:0;
    left:0;
    width:50px;
    height:30px;
    border-radius:50px;
    position:absolute;
}
.checkBox input:checked:before{
        background:rgba(184, 247, 247, 0.5);
        border:1px solid #007BFF;
        }
.checkBox input:checked:after{
        left:24px;
        background-color:#ea7070;
        
}


@media (max-width:500px){
    .Content{
        flex-flow:column;
    }
    .Form{
        width:100%
    }
    .Forms{width:100%}
}