
  
  /* Header **/
  .Header{
    margin-top: 5px;
    color:#ffffff;
    display:flex;
    justify-content: center;
    position:fixed;
    width:100%;
    z-index: 1000;
    
  }
  
.Header .NavbarNav li{
  
  background: transparent;

  }
  .Header .NavbarNav a{
    padding:0 30px;
    width:100%;
    text-decoration: none;
    font-family: zilap;
    font-size: 1.3rem;
    color:#fff;
    transition:0.3s;
    border:#fff dashed 2px;
  }

  .Header ul{
      display:flex;
      list-style: none;
  }
  .Header li{
    padding: 0 20px 0 20px;
  }
  .Header li a, .Header li p{
      padding-bottom:6px;
  }
  .OpenSlide i{
      font-size:30px;
  }

  

  
  .Header nav{
    float:right;
    margin-top:10px;
    
  }
  
  .Heading{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 10vh;
    width:85%;
  
  }
  
  
  
  .SideNav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
  }
  
  .SideNav p, .SideNav a{
    font-family: zilap;
    font-weight: normal;
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:1.5rem;
    color:#ccc;
    display:block;
    transition:0.3s;
  }
  
  
  
  .SideNav .BtnClose{
    position:absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
  }
  .SideNav :first-child{
    margin-top:30px;
  }

   .Active{   
      background-color: #fff;
      color:rgba(0,0,0,1) !important;
  }
 
  
  
  /* Media Queries */
  
  
  @media(max-width:800px){
    .NavbarNav{display:none !important}
    nav{
      width:50px;
    }
    
    .Branding{
        font-size:10px;
      }
    
  }
  
  @media(min-width:800px){
    .OpenSlide{display:none}
    .Header a:hover{
      color:rgba(0,0,0,1);
        background-color: #FFF;
        
      
  }
}
  @media(max-height:600px){
    .Heading{
      align-items: baseline;
    }
  }