
.Form *{
    margin-top:10px;
   
}
.Title{
    font-family: zilap;
    font-weight:normal;
    font-size:5rem;
    color:	#fff;
    margin-bottom:5px;
    margin-top:40px;
    
 
}
.Forms{
    margin: auto;
    width:100%;
    background:url('../../assets/img/background.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:100vh;
    display:flex;
    align-items: center;
    flex-flow:column;
    
}
.Paragraph{
    color:#f3dfd9;
    font-size:1.5rem;
    margin:15px 0 -10px 0 ;
}
.Button{
    width:100%;
     background : #2694ab;
    border:#1a778a
}
.Button:hover{
    background : #4dbedf;
}


.Inputs{
    background-color:white;
    display:flex;
    justify-content: center;
    border:1px gray solid;
    border-radius: 50px;
    align-items: baseline;
    
}

  
.Inputs input{
    margin:0;
    height:40px;
    border:none;
    width:49%;
    background:none;
    text-align:center;
    outline:none;
    cursor: pointer;
}

.Form{
    display:flex;
    flex-flow: column;
    align-items: center;
    width:80%;
    max-width: 450px;
    background: #F9F9F9;
  padding: 25px;
  margin: 10px 0;
  background: rgb(0,0,0,0.5);
  border:dashed 2px #fff;
  border-radius: 50px;
  transition: 0.5s;
  
}
.Weather{
    display:flex;
    flex-flow:column;
    justify-content: space-between;
    width:100%;
}

.Inputs i{
    font-size:20px;
}

@media(max-width:500px){
    .Form{
        width:99%;
    }
    .Forms{
        background-attachment:fixed;
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    }
}